CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
_CPack_Packages/
cmake_install.cmake
src/comm14cux_version.h
docs/
bin/
install_manifest.txt
*.deb
*.gz
*.tgz
*.zip
LICENSE.TXT
README.TXT
